main {
  padding: 20px;
  background-color: #000;
  width: 100%;
  max-width: 1920px;
  height: 100%;
}

.d-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie {
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  transition: transform 0.3s;
}

.movie:hover {
  transform: scale(1.05);
}

.movie h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.movie p {
  margin: 5px 0;
  font-size: 14px;
}

.error-message {
  color: white;
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.flag {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: auto;
}

.star-rating {
  display: flex;
  color: #ffdd00;
}