main {
    padding: 20px;
    background-color: #141414;
    width: 100%;
    max-width: 1920px;
    height: auto;
}


.d-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.movie {
    width: calc((100% / 6) - 20px);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: white;
}

.movie h2 {
    margin-bottom: 10px;
}

.movie p {
    margin: 5px 0;
}

.error-message{
    color: white;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}